DATABASE_URL=
PAYLOAD_SECRET=
# Added by Payload

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

S3_REGION=
S3_BUCKET=

NEXT_PUBLIC_SERVER_URL=

NEON_BRANCH=
GIT_BRANCH=

NEON_API_KEY=
NEON_PROJECT_ID=
PAYLOAD_DB_PUSH=