
//Essentials
DATABASE_URL=
PAYLOAD_SECRET=
NEXT_PUBLIC_SERVER_URL=

# Added by Payload

//S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=

//Neon Branching Tool
NEON_BRANCH=
GIT_BRANCH=
NEON_API_KEY=
NEON_PROJECT_ID=
AUTOPUSH=

//EMAIL
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
CONTACT_TO_EMAIL=

//BEDROCK
BEDROCK_CATEGORIES_ENABLED=false
AWS_REGION=
BEDROCK_MODEL_ID=

